# packages in environment at D:\College\Projects\Garbage_Classification\envs\env_garbage:
#
# Name                    Version                   Build  Channel
_tflow_select             2.1.0                       gpu    anaconda
absl-py                   0.10.0                   py37_0    anaconda
argon2-cffi               20.1.0                   pypi_0    pypi
astor                     0.8.1                    py37_0    anaconda
async-generator           1.10                     pypi_0    pypi
attrs                     20.2.0                   pypi_0    pypi
backcall                  0.2.0                    pypi_0    pypi
blas                      1.0                         mkl    anaconda
bleach                    3.2.1                    pypi_0    pypi
blinker                   1.4                      py37_0    anaconda
brotlipy                  0.7.0           py37he774522_1000    anaconda
ca-certificates           2020.7.22                     0    anaconda
cachetools                4.1.1                      py_0    anaconda
certifi                   2020.6.20                py37_0    anaconda
cffi                      1.14.3           py37h7a1dbc1_0    anaconda
chardet                   3.0.4                 py37_1003    anaconda
click                     7.1.2                      py_0    anaconda
cryptography              3.1              py37h7a1dbc1_0    anaconda
cudatoolkit               10.1.243             h74a9793_0  
cudnn                     7.6.5                cuda10.1_0    anaconda
cycler                    0.10.0                   py37_0  
decorator                 4.4.2                    pypi_0    pypi
defusedxml                0.6.0                    pypi_0    pypi
entrypoints               0.3                      pypi_0    pypi
freetype                  2.10.2               hd328e21_0  
gast                      0.2.2                    py37_0    anaconda
google-auth               1.21.2                     py_0    anaconda
google-auth-oauthlib      0.4.1                      py_2    anaconda
google-pasta              0.2.0                      py_0    anaconda
grpcio                    1.31.0           py37he7da953_0    anaconda
h5py                      2.8.0            py37hf7173ca_0    anaconda
hdf5                      1.8.18           vc14h7a021fe_0  [vc14]  anaconda
icc_rt                    2019.0.0             h0cc432a_1    anaconda
icu                       58.2                 ha925a31_3  
idna                      2.10                       py_0    anaconda
importlib-metadata        1.7.0                    py37_0    anaconda
intel-openmp              2020.2                      254    anaconda
ipykernel                 5.3.4                    pypi_0    pypi
ipython                   7.18.1                   pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
jedi                      0.17.2                   pypi_0    pypi
jinja2                    2.11.2                   pypi_0    pypi
jpeg                      9b                   hb83a4c4_2  
jsonschema                3.2.0                    pypi_0    pypi
jupyter-client            6.1.7                    pypi_0    pypi
jupyter-core              4.6.3                    pypi_0    pypi
jupyterlab-pygments       0.1.1                    pypi_0    pypi
keras                     2.3.1                         0    anaconda
keras-applications        1.0.8                      py_1    anaconda
keras-base                2.3.1                    py37_0    anaconda
keras-preprocessing       1.1.0                      py_1    anaconda
kiwisolver                1.2.0            py37h74a9793_0  
libpng                    1.6.37               h2a8f88b_0  
libprotobuf               3.13.0               h200bbdf_0    anaconda
libtiff                   4.1.0                h56a325e_1  
lz4-c                     1.9.2                h62dcd97_1  
markdown                  3.2.2                    py37_0    anaconda
markupsafe                1.1.1                    pypi_0    pypi
matplotlib                3.3.1                         0  
matplotlib-base           3.3.1            py37hba9282a_0  
mistune                   0.8.4                    pypi_0    pypi
mkl                       2019.4                      245    anaconda
mkl-service               2.3.0            py37hb782905_0    anaconda
mkl_fft                   1.2.0            py37h45dec08_0    anaconda
mkl_random                1.1.0            py37h675688f_0    anaconda
nbclient                  0.5.0                    pypi_0    pypi
nbconvert                 6.0.6                    pypi_0    pypi
nbformat                  5.0.7                    pypi_0    pypi
nest-asyncio              1.4.0                    pypi_0    pypi
ninja                     1.10.1           py37h7ef1ec2_0  
notebook                  6.1.4                    pypi_0    pypi
numpy                     1.19.1           py37h5510c5b_0    anaconda
numpy-base                1.19.1           py37ha3acd2a_0    anaconda
oauthlib                  3.1.0                      py_0    anaconda
olefile                   0.46                     py37_0  
opencv-python             4.4.0.44                 pypi_0    pypi
openssl                   1.1.1h               he774522_0    anaconda
opt_einsum                3.1.0                      py_0    anaconda
packaging                 20.4                     pypi_0    pypi
pandocfilters             1.4.2                    pypi_0    pypi
parso                     0.7.1                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pillow                    7.2.0            py37hcc1f983_0  
pip                       20.2.2                   py37_0  
prettytable               0.7.2                    pypi_0    pypi
prometheus-client         0.8.0                    pypi_0    pypi
prompt-toolkit            3.0.7                    pypi_0    pypi
protobuf                  3.13.0           py37h6538335_0    anaconda
pyasn1                    0.4.8                      py_0    anaconda
pyasn1-modules            0.2.8                      py_0    anaconda
pycparser                 2.20                       py_2    anaconda
pygments                  2.7.1                    pypi_0    pypi
pyjwt                     1.7.1                    py37_0    anaconda
pyopenssl                 19.1.0                     py_1    anaconda
pyparsing                 2.4.7                      py_0  
pyqt                      5.9.2            py37h6538335_2  
pyrsistent                0.17.3                   pypi_0    pypi
pysocks                   1.7.1                    py37_1    anaconda
python                    3.7.9                h60c2a47_0  
python-dateutil           2.8.1                      py_0  
pytorch                   1.6.0           py3.7_cuda101_cudnn7_0    pytorch
pywin32                   228                      pypi_0    pypi
pywinpty                  0.5.7                    pypi_0    pypi
pyyaml                    5.3.1            py37he774522_0    anaconda
pyzmq                     19.0.2                   pypi_0    pypi
qt                        5.9.7            vc14h73c81de_0  
requests                  2.24.0                     py_0    anaconda
requests-oauthlib         1.3.0                      py_0    anaconda
rsa                       4.6                        py_0    anaconda
scipy                     1.5.2            py37h9439919_0    anaconda
send2trash                1.5.0                    pypi_0    pypi
setuptools                49.6.0                   py37_0  
sip                       4.19.8           py37h6538335_0  
six                       1.15.0                     py_0    anaconda
sqlite                    3.33.0               h2a8f88b_0  
tensorboard               2.2.1              pyh532a8cf_0    anaconda
tensorboard-plugin-wit    1.6.0                      py_0    anaconda
tensorflow                2.1.0           gpu_py37h7db9008_0    anaconda
tensorflow-base           2.1.0           gpu_py37h55f5790_0    anaconda
tensorflow-estimator      2.1.0              pyhd54b08b_0    anaconda
tensorflow-gpu            2.1.0                h0d30ee6_0    anaconda
termcolor                 1.1.0                    py37_1    anaconda
terminado                 0.9.1                    pypi_0    pypi
testpath                  0.4.4                    pypi_0    pypi
tk                        8.6.10               he774522_0  
torchvision               0.7.0                py37_cu101    pytorch
tornado                   6.0.4            py37he774522_1  
traitlets                 5.0.4                    pypi_0    pypi
urllib3                   1.25.10                    py_0    anaconda
vc                        14.1                 h0510ff6_4  
vs2015_runtime            14.16.27012          hf0eaf9b_3  
wcwidth                   0.2.5                    pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
werkzeug                  0.16.1                     py_0    anaconda
wheel                     0.35.1                     py_0  
win_inet_pton             1.1.0                    py37_0    anaconda
wincertstore              0.2                      py37_0  
wrapt                     1.12.1           py37he774522_1    anaconda
xz                        5.2.5                h62dcd97_0  
yaml                      0.1.7            vc14h4cb57cf_1  [vc14]  anaconda
zipp                      3.1.0                      py_0    anaconda
zlib                      1.2.11               h62dcd97_4  
zstd                      1.4.5                h04227a9_0  
